* {
    -moz-font-feature-settings: unset !important;
    font-feature-settings: unset !important;
    font-kerning: unset !important;
    letter-spacing: unset !important;
    text-size-adjust: unset !important;
}

/* force Liberation Sans */
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
    font-family: "Inter", sans-serif !important;
}

/* force Iosevka Fixed for mono stuff. FIXME: make this work for all mono fonts.*/
.blob-code span,
.blob-code,
.blob-num,
.code,
.code-view :not(.fa):not(.svg):not(.icon),
.diff-line-num,
.feeds .news .commit-id
.file-info-entry,
.lines-num span:after,
.text-mono,
.ui .sha.label,
code *,
code,
pre,
pre * {
    font-family: "Iosevka Fixed", monospace !important;
    font-size: 11pt !important;
}

/* block ads */
#masthead-ad,
.promotion-chunk,
.result--ad--good {
    display: none !important;
}
